body {
  -webkit-font-smoothing: antialiased;
}

#app {
  background-color: #efefef;
  padding-top: 10px;
  padding-bottom: 10px;
  min-height: 100vh;
}

.card-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  p {
    margin: 0;
  }
  > .ant-tabs-card {
    > .ant-tabs-nav::before {
      display: none;
    }
    .ant-tabs-content {
      margin-top: -16px;
      .ant-tabs-tabpane {
        padding: 16px;
        background: #fff;
      }
    }
  }
}

.page-rebate .tags {
  padding-left: 8px;
}

.qrcode {
  position: relative;
  display: inline-block;

  .code {
    img {
      height: 100%;
      width: 100%;
    }
  }

  .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 4px;
    overflow: hidden;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}
