body {
  -webkit-font-smoothing: antialiased;
}

#app {
  background-color: #efefef;
  padding-top: 10px;
  padding-bottom: 10px;
  min-height: 100vh;
}

.card-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  p {
    margin: 0;
  }
  > .ant-tabs-card {
    > .ant-tabs-nav::before {
      display: none;
    }
    .ant-tabs-content {
      margin-top: -16px;
      .ant-tabs-tabpane {
        padding: 16px;
        background: #fff;
      }
    }
  }
}

.qrcode {
  position: relative;

  .code {
    height: 180px;
    width: 180px;

    img {
      height: 100%;
      width: 100%;
    }
  }

  .logo {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 70px;
    left: 70px;
    background-color: #fff;
    border-radius: 4px;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}
